@{
	ViewBag.Title = "Add Beer Place!";
	Layout = "~/Views/Shared/master.cshtml";
	Hublisher.user _user = (Hublisher.user) ViewBag.User;
	var loggedIn = _user != null;
}

<script src="~/Scripts/home/Add.js"></script>


@if(loggedIn){
	<h2>Hi @_user.alias, Search and Enjoy</h2>
} else{
	<h2>Search and Enjoy</h2>
}


<div>
	<div id="placeadder" style="display: none;">

		<p><a onclick="$('#placeadder').toggle();" href="#">Cancel</a></p>

		<form action="/home/add" method="post" onsubmit="return $(this).validate()">
			<div class="well">
				<h4>Add a new Beer Place!</h4>


				<p>Name</p>
				<input type="text" name="name" class="input-xlarge" data-validation="required" />
				<p>Type of place</p>
				<select name="type" class="input-medium bfh-countries">
					<option value="grocery store">Supermarket</option>
					<option value="bar">Bar/Café</option>
					<option value="restaurant">Restaurant</option>
					<option value="bottle shop">Bottle shop</option>
				</select>
				<p>Address</p>
				<textarea class="input-xlarge" rows="4" name="address" data-validation="required"></textarea>
				<p>Borough (williamsburg, east-river london, norrebro etc.)</p>
				<input type="text" name="borough" class="input-xlarge" data-validation="required" />
				<p>City</p>
				<input type="text" name="city" class="input-xlarge" data-validation="required" />
				<p>Country</p>
				<select name="country" class="input-medium bfh-countries">
					<option value="Denmark">Denmark</option>
					<option value="Sweden">Sweden</option>
					<option value="Norway">Norway</option>
					<option value="UK">UK</option>
					<option value="USA">USA</option>
				</select>
				<br />
				@Html.AntiForgeryToken()
				<input type="submit" class="btn btn-info" value="Add!" />
			</div>
		</form>

	</div>

	<p><a onclick="$('#placeadder').toggle();" href="#">Do you know a place where they sell good beer?</a></p>


	<div class="well">
		<h3>Find me a good place to have a beer</h3>

		<form method="post" action="/search/places">
			<p>In which city ? (copenhagen, hamburg, munich, london etc.)</p>
			<input type="text" name="searchcity" class="input-xlarge" id="cities" />
			<input type="hidden" name="hidden_id" />
			<p>Try typing the name of the place, if you know it.</p>
			<input type="text" name="placename" class="input-xlarge" id="typeahead" />
			<br />
			<input type="submit" class="btn btn-info" value="GO!" />
		</form>
	</div>

</div>

<script src="/scripts/jquery.formvalidator.min.js"></script>
